{% extends "contas\base\stockbase.html" %}

{% block content %}

	<script>
		window.onload = function () {

			// Gráfico candlestick

			var dataPoint1 = [];

			// Tratamento de dados

			cont1 = 0; // limite de dias
			{% for historical_item in historical_stock %}
				if (cont1 < 60){
					ano = "{{ historical_item.data.year }}";
					mes = "{{ historical_item.data.month }}";
					dia = "{{ historical_item.data.day }}";
					abertura = "{{ historical_item.abertura }}";
					fechamento = "{{ historical_item.fechamento_ajustado }}";
					maximo = "{{ historical_item.maximo }}";
					minimo = "{{ historical_item.minimo }}";

					dataPoint1.push({
						x: new Date(
							parseInt(ano),
							parseInt(mes),
							parseInt(dia)
						),
						y: [
							parseFloat(abertura),
							parseFloat(maximo),
							parseFloat(minimo),
							parseFloat(fechamento)
						]
					});

					cont1++
				}
			{% endfor %}

			// Configurações do gráfico

			var chart1 = new CanvasJS.Chart("chartContainer1", {
				animationEnabled: true,
				theme: "light2", // "light1", "light2", "dark1", "dark2"
				exportEnabled: true,
				title: {
					text: "Dados Históricos {{ stock_name }}"
				},
				subtitles: [{
					text: "Ultimos 60 históricos"
				}],
				axisX: {
					interval: 20,
					valueFormatString: "MMM"
				},
				axisY: {
					includeZero: false,
					prefix: "R$ ",
					title: "Preço"
				},
				toolTip: {
					content: "Date: {x}<br /><strong>Price:</strong><br />Open: {y[0]}, Close: {y[3]}<br />High: {y[1]}, Low: {y[2]}"
				},
				data: [{
					type: "candlestick",
					yValueFormatString: "R$##0.00",
					dataPoints: dataPoint1
				}]
			});

			// Gráfico linear

			// Tratamento de dados

			var dataPoint2 = [];

			cont2 = 0; // limite de dias
			{% for historical_item in historical_stock %}
				if(cont2 < 60){
					ano = "{{ historical_item.data.year }}";
					mes = "{{ historical_item.data.month }}";
					dia = "{{ historical_item.data.day }}";
					fechamento = "{{ historical_item.fechamento_ajustado }}";

					dataPoint2.push({
						x: new Date(
							parseInt(ano),
							parseInt(mes),
							parseInt(dia)
						),
						y: parseFloat(fechamento)
					});
					cont2++
				}
			{% endfor %}

			// Configurações do gráfico	

			var chart2 = new CanvasJS.Chart("chartContainer2", {
				animationEnabled: true,
				theme: "light2",
				title:{
					text: "Fechamento {{ stock_name }}"
				},
				subtitles: [{
					text: "Ultimos 60 históricos"
				}],
				axisX: {
					valueFormatString: "MMM"
				},
				axisY:{
					includeZero: false,
					prefix: "R$ ",
					title: "Fechamento Ajustado"
				},
				data: [{        
					type: "line",
			      	indexLabelFontSize: 16,
			      	dataPoints: dataPoint2
				}]
			});


			/* Mostrando gráficos */

			chart1.render();
			chart2.render();
		}
	</script>


	<div class="container-fluid" style="background-color: #08192d;">	
		<div class="row">
			<a class="col-sm-3 border-right border-left" href="/stock/{{ stock_name }}/resumo" style="color: #fc0254">Resumo</a>	
			<a class="col-sm-3 border-right" href="/stock/{{ stock_name }}/dados_historicos" style="color: #FFFFFF">Dados Históricos</a>
			<a class="col-sm-3 border-right" href="/stock/{{ stock_name }}/graficos" style="color: #FFFFFF">Analise Gráfica</a>
			<a class="col-sm-3 border-right" href="/stock/{{ stock_name }}/fundamentalista" style="color: #FFFFFF">Analise Fundamentalista</a>
		</div>
	</div>


	<div class="container-fluid">
		<div class="row">		
			<div class="col-sm-3">
				<table class="table table-hover">
					<thead>
					    <tr>
					      <th scope="col"><h4>Informações Gerais</h4></th>
					    </tr>
					</thead>
				  	<tbody>
					    <tr>
					      <th scope="row">Tipo</th>
					      <td>a</td>
					    </tr>
					    <tr>
					      <th scope="row">Empresa</th>
					      <td>b</td>
					    </tr>
					    <tr>
					      <th scope="row">Setor</th>
					      <td>c</td>
					    </tr>
					    <tr>
					      <th scope="row">Subsetor</th>
					      <td>d</td>
					    </tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-3">
				<table class="table table-hover">
				  	<tbody>
					    <tr>
					      <th scope="row">Abertura</th>
					      <td>R$ {{ stock_last_open }}</td>
					    </tr>
					    <tr>
					      <th scope="row">Fechamento</th>
					      <td>R$ {{ stock_last_price }}</td>
					    </tr>
					    <tr>
					      <th scope="row">Var/Dia</th>
					      <td>{{ stock_diferecen_percent }} %</td>
					    </tr>
					    <tr>
					      <th scope="row">Máxima</th>
					      <td>R$ {{ stock_last_max }}</td>
					    </tr>
					    <tr>
					      <th scope="row">Mínima</th>
					      <td>R$ {{ stock_last_min }}</td>
					    </tr>
					    <tr>
					      <th scope="row">Volume</th>
					      <td>{{ stock_last_volume }}</td>
					    </tr>
					</tbody>
				</table>
			</div>	

			<div class="col-sm-6">
				<div id="chartContainer1" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-6">
				<div id="chartContainer2" style="height: 300px; width: 100%;"></div>
			</div>
			<div class="col-sm-6">
				<table class="table table-hover">
					<thead>
					    <tr>
					      <th scope="col"><h4>Indicadores Fundamentalistas</h4></th>
					    </tr>
					</thead>
				  	<tbody>
					    <tr>
					      <th scope="row">Preço/Lucro (P/L)</th>
					      <td>1</td>
					    </tr>
					    <tr>
					      <th scope="row">Preço/Valor Patrimonial (P/VP)</th>
					      <td>2</td>
					    </tr>
					    <tr>
					      <th scope="row">Outro indicador(3)</th>
					      <td>3</td>
					    </tr>
					    <tr>
					      <th scope="row">Outro indicador(4)</th>
					      <td>4</td>
					    </tr>
					    <tr>
					      <th scope="row">Outro indicador(5)</th>
					      <td>5</td>
					    </tr>
					    <tr>
					      <th scope="row">Outro indicador(6)</th>
					      <td>6</td>
					    </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

{% endblock %}

