{% extends "contas\base.html" %}

{% block content %}
	<!-- about section -->

	<section class="intro-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>Deep Investing</h2>
					</div>
				</div>
				<div class="col-lg-6">
					<p>O Deep Investing é um projeto de extensão da Universidade Federal de São João del Rei orientada pelo professor Dárlinton Barbosa Feres Carvalho, o objetivo principal é o desenvolvimento de uma plataforma capaz de auxiliar investidores no mercado de ações brasileiro.</p>
				</div>
			</div>
		</div>
	</section>	

	<section class="how-section spad set-bg">
		<div class="container text-white">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>História</h2>
					</div>
				</div>
				<div class="col-lg-6">
					<p>A plataforma começou a ser desenvolvida em Fevereiro de 2020, apesar do estudo da bolsa de valores e tecnologias de ciência de dados ter começado por volta de agosto de 2019 com o estudante de ciência da computação Marcelo Marinho Colchete.</p>
				</div>
			</div>
		</div>
	</section>	

	<section class="intro-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>Equipe</h2>
					</div>
				</div>
				<div class="col-lg-6">
					<p></p>
				</div>
			</div>
		</div>
	</section>	

	<!-- about section -->
{% endblock %}

