{% extends "contas\base.html" %}

{% block content %}

	<h1> {{ stock_name }} </h1>

	<ul class="list-group">
		<li class="list-group-item "></li>
		{% for historical_item in historical_stock %}
			<li class="list-group-item">{{ historical_item.data }} | {{ historical_item.maximo }} | {{ historical_item.minimo }} | {{ historical_item.abertura }} | {{ historical_item.fechamento }} | {{ historical_item.volume }} | {{ historical_item.fechamento_ajustado }}</li>
		{% endfor %}
	</ul>

{% endblock %}

