{% extends "contas\base\base.html" %}

{% block content %}

{% load static %}

	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>Investimento</span> inteligente.</h2>
								<p>Já pensou em ter um lugar onde as melhores ações do mercado financeiro brasileiro são estudadas e catalogadas totalmente grátis? Registre-se agora para começar a pensar fora da caixa. </p>
								<a href="#" class="site-btn">Registre-se</a>
								<a href="#" class="site-btn sb-c2">Saiba Mais</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<!--<img src="img/hero-bg.png" alt="">-->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>Investimento </span> profundo.</h2>
								<p>A idéia da plataforma é conseguir utilizar meios computacionais para ajudar investidores curiosos e adeptos a novas formas de ganhar dinheiro. </p>
								<a href="#" class="site-btn">Registre-se</a>
								<a href="#" class="site-btn sb-c2">Saiba Mais</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<!--<img src="img/hero-bg.png" alt="">-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

	<!-- Intro section -->
	<section class="intro-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>É possível prever o mercado financeiro?</h2>
					</div>
				</div>
				<div class="col-lg-6">
					<p>A bolsa de valores não é algo previsivel, porém podemos analisar afim de conseguir porcentagens estatísticas próximas do sucesso de previsão. Artigos recentes mostram que cada vez mais estudos computacionais geram desempenhos superiores aos anteriormente utilizados.</p>
					<a href="#" class="site-btn">Veja Exemplos</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Intro section end -->

	<!-- How section -->
	<section class="how-section spad set-bg">
		<div class="container text-white">
			<div class="section-title">
				<h2>Como funciona</h2>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="how-item">
						<div class="hi-icon">
							<img src="{% static 'img/icons/pointer.png' %}" alt="">
						</div>
						<h4>Crie sua conta</h4>
						<p>Clique em registre-se, cadastre seus dados e abra uma conta no Deep Investing. </p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="how-item">
						<div class="hi-icon">
							<img src="{% static 'img/icons/pointer.png' %}" alt="">
						</div>
						<h4>Monte seu perfil</h4>
						<p>Escolha quais ações deseja acompanhar, defina suas configurações de privacidade e notificação. </p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="how-item">
						<div class="hi-icon">
							<img src="{% static 'img/icons/brain.png' %}" alt="">
						</div>
						<h4>Pense conosco</h4>
						<p>Utilize gratuitamente a nossa plataforma para receber informações sobre as ações estudadas e invista do seu próprio jeito. </p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- How section end -->

	<!-- Premium section end -->
	<section class="premium-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="section-title">
						<h2>Porque usar Deep Investing?</h2>
					</div>
				</div>
				<div class="col-lg-6">
					<p>Se você é um trader você precisa utilizar o Deep Investing. Meios confiaveis de investimento nunca são demais, a grande riqueza atual são os dados certo? Aqui utilizamos a ciência dos dados para coletar, tratar e transformar dados em informações. </p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="premium-item">
						<!-- <img src="img/premium/1.jpg" alt=""> -->
						<h4>Coleta</h4>
						<p>Nosso servidor coleta dados e armazena em tempo real, sempre atualizado!</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="premium-item">
						<!-- <img src="img/premium/1.jpg" alt=""> -->
						<h4>Tratamento</h4>
						<p>Os dados coletados são sempre tratados afim de evitar curvas incoerentes.</p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="premium-item">
						<!-- <img src="img/premium/1.jpg" alt=""> -->
						<h4>Visualização</h4>
						<p>A visualização é feita através de diversos meios a sua escolha. </p>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="premium-item">
						<!-- <img src="img/premium/1.jpg" alt=""> -->
						<h4>Inteligencia</h4>
						<p>O uso de uma inteligência artificial é algo que vai te surpreender.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Premium section end -->

{% endblock %}